In [7]:
url="https://archive.ics.uci.edu/ml/machine-learning-databases/00242/ENB2012_data.xlsx"

In [8]:
import pandas as pd
dataset=pd.read_excel(url)

In [9]:
dataset

       X1     X2     X3      X4   X5  X6   X7  X8     Y1     Y2
0    0.98  514.5  294.0  110.25  7.0   2  0.0   0  15.55  21.33
1    0.98  514.5  294.0  110.25  7.0   3  0.0   0  15.55  21.33
2    0.98  514.5  294.0  110.25  7.0   4  0.0   0  15.55  21.33
3    0.98  514.5  294.0  110.25  7.0   5  0.0   0  15.55  21.33
4    0.90  563.5  318.5  122.50  7.0   2  0.0   0  20.84  28.28
..    ...    ...    ...     ...  ...  ..  ...  ..    ...    ...
763  0.64  784.0  343.0  220.50  3.5   5  0.4   5  17.88  21.40
764  0.62  808.5  367.5  220.50  3.5   2  0.4   5  16.54  16.88
765  0.62  808.5  367.5  220.50  3.5   3  0.4   5  16.44  17.11
766  0.62  808.5  367.5  220.50  3.5   4  0.4   5  16.48  16.61
767  0.62  808.5  367.5  220.50  3.5   5  0.4   5  16.64  16.03

[768 rows x 10 columns]

In [22]:
dataset.to_csv("data.csv",encoding='utf-8')

In [25]:
df=pd.read_csv("./data.csv")

In [26]:
df

     Unnamed: 0    X1     X2     X3      X4   X5  X6   X7  X8     Y1     Y2
0             0  0.98  514.5  294.0  110.25  7.0   2  0.0   0  15.55  21.33
1             1  0.98  514.5  294.0  110.25  7.0   3  0.0   0  15.55  21.33
2             2  0.98  514.5  294.0  110.25  7.0   4  0.0   0  15.55  21.33
3             3  0.98  514.5  294.0  110.25  7.0   5  0.0   0  15.55  21.33
4             4  0.90  563.5  318.5  122.50  7.0   2  0.0   0  20.84  28.28
..          ...   ...    ...    ...     ...  ...  ..  ...  ..    ...    ...
763         763  0.64  784.0  343.0  220.50  3.5   5  0.4   5  17.88  21.40
764         764  0.62  808.5  367.5  220.50  3.5   2  0.4   5  16.54  16.88
765         765  0.62  808.5  367.5  220.50  3.5   3  0.4   5  16.44  17.11
766         766  0.62  808.5  367.5  220.50  3.5   4  0.4   5  16.48  16.61
767         767  0.62  808.5  367.5  220.50  3.5   5  0.4   5  16.64  16.03

[768 rows x 11 columns]

In [27]:
df.isnull().sum()

Unnamed: 0    0
X1            0
X2            0
X3            0
X4            0
X5            0
X6            0
X7            0
X8            0
Y1            0
Y2            0
dtype: int64

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  768 non-null    int64
 1   X1          768 non-null    float64
 2   X2          768 non-null    float64
 3   X3          768 non-null    float64
 4   X4          768 non-null    float64
 5   X5          768 non-null    float64
 6   X6          768 non-null    int64
 7   X7          768 non-null    float64
 8   X8          768 non-null    int64
 9   Y1          768 non-null    float64
 10  Y2          768 non-null    float64
dtypes: float64(8), int64(3)
memory usage: 66.1 KB

In [29]:
df.describe()

       Unnamed: 0          X1          X2  ...         X8          Y1          Y2
count  768.000000  768.000000  768.000000  ...  768.00000  768.000000  768.000000
mean   383.500000    0.764167  671.708333  ...    2.81250   22.307195   24.587760
std    221.846794    0.105777   88.086116  ...    1.55096   10.090204    9.513306
min      0.000000    0.620000  514.500000  ...    0.00000    6.010000   10.900000
25%    191.750000    0.682500  606.375000  ...    1.75000   12.992500   15.620000
50%    383.500000    0.750000  673.750000  ...    3.00000   18.950000   22.080000
75%    575.250000    0.830000  741.125000  ...    4.00000   31.667500   33.132500
max    767.000000    0.980000  808.500000  ...    5.00000   43.100000   48.030000

[8 rows x 11 columns]

In [43]:
tar1=df['Y1']
tar2=df['Y2']
data=df.drop(columns=['Y1','Y2'])

In [44]:
print(tar1,tar2,data)

0      15.55
1      15.55
2      15.55
3      15.55
4      20.84
       ...
763    17.88
764    16.54
765    16.44
766    16.48
767    16.64
Name: Y1, Length: 768, dtype: float64 0      21.33
1      21.33
2      21.33
3      21.33
4      28.28
       ...
763    21.40
764    16.88
765    17.11
766    16.61
767    16.03
Name: Y2, Length: 768, dtype: float64      Unnamed: 0    X1     X2     X3      X4   X5  X6   X7  X8
0             0  0.98  514.5  294.0  110.25  7.0   2  0.0   0
1             1  0.98  514.5  294.0  110.25  7.0   3  0.0   0
2             2  0.98  514.5  294.0  110.25  7.0   4  0.0   0
3             3  0.98  514.5  294.0  110.25  7.0   5  0.0   0
4             4  0.90  563.5  318.5  122.50  7.0   2  0.0   0
..          ...   ...    ...    ...     ...  ...  ..  ...  ..
763         763  0.64  784.0  343.0  220.50  3.5   5  0.4   5
764         764  0.62  808.5  367.5  220.50  3.5   2  0.4   5
765         765  0.62  808.5  367.5  220.50  3.5   3  0.4   5
766         766  0.62  808.5  367.5  220.50  3.5   4  0.4   5
767         767  0.62  808.5  367.5  220.50  3.5   5  0.4   5

[768 rows x 9 columns]

In [33]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()

In [35]:
data=sc.fit_transform(data)

In [37]:
pd.DataFrame(data)

            0         1         2         3  ...    5         6         7         8
0   -1.729797  2.041777 -1.785875 -0.561951  ...  1.0 -1.341641 -1.760447 -1.814575
1   -1.725286  2.041777 -1.785875 -0.561951  ...  1.0 -0.447214 -1.760447 -1.814575
2   -1.720776  2.041777 -1.785875 -0.561951  ...  1.0  0.447214 -1.760447 -1.814575
3   -1.716265  2.041777 -1.785875 -0.561951  ...  1.0  1.341641 -1.760447 -1.814575
4   -1.711755  1.284979 -1.229239  0.000000  ...  1.0 -1.341641 -1.760447 -1.814575
..        ...       ...       ...       ...  ...  ...       ...       ...       ...
763  1.711755 -1.174613  1.275625  0.561951  ... -1.0  1.341641  1.244049  1.411336
764  1.716265 -1.363812  1.553943  1.123903  ... -1.0 -1.341641  1.244049  1.411336
765  1.720776 -1.363812  1.553943  1.123903  ... -1.0 -0.447214  1.244049  1.411336
766  1.725286 -1.363812  1.553943  1.123903  ... -1.0  0.447214  1.244049  1.411336
767  1.729797 -1.363812  1.553943  1.123903  ... -1.0  1.341641  1.244049  1.411336

[768 rows x 9 columns]

In [45]:
#train test split
from sklearn.model_selection import train_test_split
x_train1,x_test1,y_train1,y_test1=train_test_split(data,tar1,test_size=0.3)
x_train2,x_test2,y_train2,y_test2=train_test_split(data,tar2,test_size=0.3)

In [46]:
print(x_train1,x_train2)

     Unnamed: 0    X1     X2     X3      X4   X5  X6    X7  X8
320         320  0.69  735.0  294.0  220.50  3.5   2  0.25   1
277         277  0.66  759.5  318.5  220.50  3.5   3  0.10   5
132         132  0.66  759.5  318.5  220.50  3.5   2  0.10   2
631         631  0.90  563.5  318.5  122.50  7.0   5  0.40   3
360         360  0.74  686.0  245.0  220.50  3.5   2  0.25   2
..          ...   ...    ...    ...     ...  ...  ..   ...  ..
37           37  0.66  759.5  318.5  220.50  3.5   3  0.00   0
195         195  0.98  514.5  294.0  110.25  7.0   5  0.10   4
484         484  0.90  563.5  318.5  122.50  7.0   2  0.25   5
520         520  0.64  784.0  343.0  220.50  3.5   2  0.25   5
222         222  0.71  710.5  269.5  220.50  3.5   4  0.10   4

[537 rows x 9 columns]      Unnamed: 0    X1     X2     X3      X4   X5  X6    X7  X8
142         142  0.62  808.5  367.5  220.50  3.5   4  0.10   2
91           91  0.64  784.0  343.0  220.50  3.5   5  0.10   1
760         760  0.64  784.0  343.0  220.50  3.5   2  0.40   5
166         166  0.76  661.5  416.5  122.50  7.0   4  0.10   3
554         554  0.74  686.0  245.0  220.50  3.5   4  0.40   1
..          ...   ...    ...    ...     ...  ...  ..   ...  ..
160         160  0.79  637.0  343.0  147.00  7.0   2  0.10   3
681         681  0.86  588.0  294.0  147.00  7.0   3  0.40   4
576         576  0.98  514.5  294.0  110.25  7.0   2  0.40   2
39           39  0.66  759.5  318.5  220.50  3.5   5  0.00   0
352         352  0.79  637.0  343.0  147.00  7.0   2  0.25   2

[537 rows x 9 columns]

## Linear Regression

In [38]:
from sklearn.linear_model import LinearRegression
lr=LinearRegression()

In [47]:
#for Y1
lr.fit(x_train1,y_train1)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [48]:
from sklearn.metrics import r2_score,mean_squared_error

In [49]:
print(r2_score(lr.predict(x_train1),y_train1))
print(mean_squared_error(lr.predict(x_train1),y_train1))

0.9195995899296409
7.634969295126441

In [50]:
#for y2
lr.fit(x_train2,y_train2)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [51]:
print(r2_score(lr.predict(x_train2),y_train2))
print(mean_squared_error(lr.predict(x_train2),y_train2))

0.8716336887545482
10.432378243286179

In [52]:
#test for Y1
print(r2_score(lr.predict(x_test1),y_test1))
print(mean_squared_error(lr.predict(x_test1),y_test1))

0.8046425577983431
15.274425226994033

In [54]:
#test for Y2
print(r2_score(lr.predict(x_test2),y_test2))
print(mean_squared_error(lr.predict(x_test2),y_test2))

0.8805103213938447
8.93657506787711

In [57]:
import numpy as np

In [58]:
print("Y1 prediction test:",lr.predict(x_test1))

Y1 prediction test: [16.49020421 19.40304616 29.89544868 31.43809057 31.98235364 19.85452251
 34.63939736 36.28013781 33.75081484 31.98180883 20.04470071 34.43290333
 30.00739841 34.50090102 18.99771144 31.83777226 32.64812631 19.40890282
 29.70581529 29.61072619 16.00289869 14.64296973 32.07689793 12.5729254
 17.63458496 17.09387617 33.62309409 35.88139384 36.50294766 25.24179636
 19.68831346 30.18695    12.21155734 19.23683711 19.35409869 28.25470823
 12.40173554 36.78821496 15.61934476 31.66445469 19.57690854 34.52799243
 13.62541458 16.45757256 17.97465639 19.74311759 35.57981072 33.73449901
 28.85448258 35.67326832 19.14174801 16.71301405 14.04425929 29.94494096
 39.38568459 34.21563372 15.60302894 29.78404376 31.86739445 32.03418448
 12.7631036  17.18896527 19.83820669 37.93512234 32.4308567  16.60160913
 35.68958415 30.17063417 19.03034309 32.11007438 31.55250496 16.17230526
 17.65409831 29.04466078 16.83257802 14.4364757  17.84427651 18.88630652
 25.33688546 19.72680176 14.49893316 30.02371423 39.59217862 31.6445846
 15.20815339 14.83314793 30.69502715 30.23020826 32.20516348 17.30037019
 15.81272049 31.62826878 19.52030774 34.51167661 18.18434794 15.45633324
 15.08043264 33.95730886 39.91007757 37.82371742 15.64651144 16.94398294
 10.06809068 16.84889384 32.09375856 35.6569525  33.7934022  13.96548601
 19.48181944 13.75899198 31.66390988 14.02208681 36.70944168 19.18023632
 15.34492831 32.06058211 16.79178733 13.51400966 15.70131556 33.38041415
 33.61953982 36.80453078 40.00516667 16.14693526 29.80035958 17.39865682
 32.44717252 12.6680145  12.87450853 31.87040391 33.28147002 33.093746
 12.58924123 37.95143816 34.1042288  27.96944093 17.39545929 30.07554507
 31.90358036 35.52923175 30.08083413 15.90461206 32.47426393 36.39154273
 15.24983921 15.69811804 15.12938011 13.38628891 27.74663108 15.50793984
 17.26188189 11.17538399 13.72050368 13.92699771 33.6983131  17.56486586
 15.32541497 31.44110004 37.42704519 11.10426404 30.29835492 18.01048556
 17.53949586 16.68038241 15.30324249 14.42015988 17.99416973 34.9572963
 32.68075796 13.29119981 12.65169868 35.54554758 31.75954379 19.59908102
 16.01921451 19.93329579 27.82540436 12.92433184 27.52382123 33.90480712
 14.98534354 29.92862513 16.69669823  9.78282338 17.31668601 32.54226162
 16.13061943 34.7671181  32.1455894  14.32507078 34.06871378 31.79217544
 19.94961161 38.15793219 16.22570853 33.68199728 27.63522616 13.74267616
 17.61826914 40.02148249 35.76998892 31.5494955  35.7520416  16.80810315
 11.36556219 30.10194271 15.37436244 36.19929279 13.64758706 13.73681951
 15.56454064 15.73074969 34.18300208 27.32870131 31.74268316 16.24202436
 12.79573525 18.95742647 33.47550325 30.2820391  15.56773816 36.7257575
 32.58566886 12.85321189 29.57754973 16.96029877 19.71048594 19.50399192
 17.20847861 19.42521864 33.49181908]

In [59]:
Y1_pred=lr.predict(x_test1)

In [61]:
pd.DataFrame(Y1_pred).describe()

                0
count  231.000000
mean    24.313417
std      8.861547
min      9.782823
25%     16.074917
50%     19.933296
75%     32.439015
max     40.021482

In [63]:
#Y2 prediction
Y2_pred=lr.predict(x_test2)
pd.DataFrame(Y2_pred).describe()

                0
count  231.000000
mean    25.309860
std      8.666873
min      9.782823
25%     16.704856
50%     27.841720
75%     32.606122
max     39.910078

In [65]:
pd.DataFrame(Y2_pred).to_csv('Y2_lr_test.csv')
pd.DataFrame(Y1_pred).to_csv('Y1_lr_test.csv')

## Polynomial Regression

In [66]:
from sklearn.preprocessing import PolynomialFeatures
poly=PolynomialFeatures()

In [68]:
p_train1=poly.fit_transform(x_train1)
p_train2=poly.fit_transform(x_train2)
p_test1=poly.fit_transform(x_test1)
p_test2=poly.fit_transform(x_test2)

In [69]:
pl=LinearRegression()

In [70]:
#Y1
pl.fit(p_train1,y_train1)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [71]:
print(mean_squared_error(pl.predict(p_train1),y_train1))
print(r2_score(pl.predict(p_train1),y_train1))

0.21475977881395697
0.9979024603031569

In [73]:
#test Y1
print(mean_squared_error(pl.predict(p_test1),y_test1))
print(r2_score(pl.predict(p_test1),y_test1))

0.25630631428704553
0.9974511426731609

In [75]:
#for Y2
pl.fit(p_train2,y_train2)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [76]:
print(mean_squared_error(pl.predict(p_train2),y_train2))
print(r2_score(pl.predict(p_train2),y_train2))

2.4529504631138392
0.9725158987699484

In [77]:
#test
print(mean_squared_error(pl.predict(p_test2),y_test2))
print(r2_score(pl.predict(p_test2),y_test2))

2.5154700159292074
0.9699701799504481

In [80]:
pred_y1_poly=pl.predict(p_test1)
pred_y2_poly=pl.predict(p_test2)

In [81]:
pd.DataFrame(pred_y1_poly).to_csv('Y1_poly_test.csv')
pd.DataFrame(pred_y2_poly).to_csv('Y2_poly_test.csv')

In [82]:
print(pd.DataFrame(pred_y1_poly))

             0
0    16.008342
1    22.917851
2    29.608572
3    25.847871
4    31.137030
..         ...
226  16.786321
227  16.274647
228  15.923968
229  16.516074
230  27.587531

[231 rows x 1 columns]

In [83]:
pd.DataFrame(pred_y1_poly).describe()

                0
count  231.000000
mean    24.198461
std      9.271949
min     11.002523
25%     15.648767
50%     21.908657
75%     31.732730
max     43.226675

In [84]:
pd.DataFrame(pred_y2_poly).describe()

                0
count  231.000000
mean    25.222888
std      9.172237
min     11.002523
25%     16.320566
50%     25.692764
75%     33.200846
max     43.103461

## Decision tree

In [91]:
from sklearn.tree import DecisionTreeRegressor
dt=DecisionTreeRegressor(max_depth=6,min_samples_leaf=10)

In [92]:
#for Y1
dt.fit(x_train1,y_train1)

DecisionTreeRegressor(ccp_alpha=0.0, criterion='mse', max_depth=6,
                      max_features=None, max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=10, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, presort='deprecated',
                      random_state=None, splitter='best')

In [93]:
print(mean_squared_error(dt.predict(x_train1),y_train1))
print(r2_score(dt.predict(x_train1),y_train1))

1.0584007034196807
0.9895763492535627

In [94]:
#test Y1
print(mean_squared_error(dt.predict(x_test1),y_test1))
print(r2_score(dt.predict(x_test1),y_test1))

0.9892516616101337
0.9899985899144612

In [95]:
pd.DataFrame(dt.predict(x_test1)).to_csv("Y1_tree_test.csv")

In [96]:
#for y2
dt.fit(x_train2,y_train2)

DecisionTreeRegressor(ccp_alpha=0.0, criterion='mse', max_depth=6,
                      max_features=None, max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=10, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, presort='deprecated',
                      random_state=None, splitter='best')

In [97]:
print(mean_squared_error(dt.predict(x_train2),y_train2))
print(r2_score(dt.predict(x_train2),y_train2))

2.9776948192713557
0.9664390773642156

In [98]:
#test
print(mean_squared_error(dt.predict(x_test2),y_test2))
print(r2_score(dt.predict(x_test2),y_test2))

3.051891451850865
0.9632752928699807

In [99]:
pd.DataFrame(dt.predict(x_test2)).to_csv("Y2_tree_test.csv")

In [100]:
pd.DataFrame(dt.predict(x_test2)).describe()

                0
count  231.000000
mean    25.258814
std      9.135818
min     11.720769
25%     16.104062
50%     26.275625
75%     33.212692
max     42.515333

## Random Forest

In [101]:
from sklearn.ensemble import RandomForestRegressor
rf=RandomForestRegressor()

In [102]:
#y1
rf.fit(x_train1,y_train1)

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=None, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=100, n_jobs=None, oob_score=False,
                      random_state=None, verbose=0, warm_start=False)

In [103]:
print(mean_squared_error(rf.predict(x_train1),y_train1))
print(r2_score(rf.predict(x_train1),y_train1))

0.04065784855046555
0.9996029456322112

In [105]:
#test y1
print(mean_squared_error(rf.predict(x_test1),y_test1))
print(r2_score(rf.predict(x_test1),y_test1))

0.2639495469645005
0.9973721612162154

In [106]:
pd.DataFrame(rf.predict(x_test1)).to_csv("Y1_rf_test.csv")

In [107]:
#for y2
rf.fit(x_train2,y_train2)

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=None, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=100, n_jobs=None, oob_score=False,
                      random_state=None, verbose=0, warm_start=False)

In [108]:
print(mean_squared_error(rf.predict(x_train2),y_train2))
print(r2_score(rf.predict(x_train2),y_train2))

0.5087719785474857
0.9943461446724848

In [109]:
#test
print(mean_squared_error(rf.predict(x_test2),y_test2))
print(r2_score(rf.predict(x_test2),y_test2))

3.5607892094805083
0.9573402232976531

In [111]:
pd.DataFrame(rf.predict(x_test2)).to_csv("Y2_rf_test.csv")

In [113]:
pd.DataFrame(rf.predict(x_test2)).describe()

                0
count  231.000000
mean    25.269076
std      9.156003
min     11.191000
25%     16.359700
50%     26.015200
75%     33.307150
max     44.437600

## SvR

In [120]:
from sklearn.svm import SVR
svr=SVR(kernel='linear')

In [121]:
#for Y1
svr.fit(x_train1,y_train1)

SVR(C=1.0, cache_size=200, coef0=0.0, degree=3, epsilon=0.1, gamma='scale',
    kernel='linear', max_iter=-1, shrinking=True, tol=0.001, verbose=False)

In [122]:
print(mean_squared_error(svr.predict(x_train1),y_train1))
print(r2_score(svr.predict(x_train1),y_train1))

10.27791410702406
0.8785015026822143

In [123]:
#test Y1
print(mean_squared_error(svr.predict(x_test1),y_test1))
print(r2_score(svr.predict(x_test1),y_test1))

10.858105106403032
0.869489040988404